<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Log In</title>
</head>
<body>
  <div class="body-content">
    <div class="container">
      <h2>Login</h2>
      <div class="logininfo">
        <form method="post">
          <div class="usepass">
            <input type="text" name="username" id="username" placeholder="Username" required>
          </div>
          <div class="usepass">
            <input type="password" name="password" id="pass" placeholder="Password" required>
          </div>
          <button type="submit" class="submit"> Log In</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>